version: '3.8'

services:
  # ------------------------------------------------
  # INFRA LEVE (1 Broker, 1 Mongo Simples)
  # ------------------------------------------------
  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./docker/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"

  # ------------------------------------------------
  # APLICAÇÕES (1 de cada)pr  # ------------------------------------------------
  ssacp:
    build: .
    command: python ssacp/main_server.py
    ports:
      - "50051:50051"
    depends_on:
      - mongodb
    environment:
      # Conecta no Mongo único
      - MONGO_URI=mongodb://mongodb:27017/

  isccp:
    build: .
    command: python isccp/main_isccp.py
    depends_on:
      - mosquitto
      - ssacp
    environment:
      - BROKER_ADDRESS=mosquitto
      - GRPC_SERVER=ssacp:50051

  ssvcp:
    build: .
    command: python ssvcp/app.py
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/

  carro:
    build: .
    command: python car/main_car.py
    depends_on:
      - mosquitto
    environment:
      - BROKER_ADDRESS=mosquitto