version: '3.8'

services:
  # --- BANCO DISTRIBUÍDO (3 Nós) ---
  mongo1:
    image: mongo:latest
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports: ["27017:27017"]
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      retries: 5

  mongo2:
    image: mongo:latest
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports: ["27018:27017"]

  mongo3:
    image: mongo:latest
    command: ["--replSet", "rs0", "--bind_ip_all", "--port", "27017"]
    ports: ["27019:27017"]

  # Inicializador do Cluster (Roda uma vez e morre)
  mongo-init:
    image: mongo:latest
    depends_on: [mongo1, mongo2, mongo3]
    command: >
      bash -c "sleep 5 && mongosh --host mongo1:27017 --eval 
      'try { rs.status().ok } catch { rs.initiate({_id: \"rs0\", members: [{_id: 0, host: \"mongo1:27017\"}, {_id: 1, host: \"mongo2:27017\"}, {_id: 2, host: \"mongo3:27017\"}]}) }'"

  # --- BROKER MQTT ---
  mosquitto:
    image: eclipse-mosquitto
    ports: ["1883:1883", "9001:9001"]
    volumes:
      - ./docker/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  # --- SSACP (AGREGADORES - 3 Instâncias) ---
  ssacp:
    build: ./ssacp
    expose: ["50051"]
    depends_on: [mongo-init]
    environment:
      - MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0
    deploy:
      replicas: 3
      resources:
        limits: { cpus: '0.2', memory: 128M }

  # --- ISCCP (SENSORES - 15 Instâncias) ---
  isccp:
    build: ./isccp
    depends_on: [mosquitto, ssacp]
    environment:
      - BROKER_ADDRESS=mosquitto
      - SSACP_HOST=ssacp
    deploy:
      replicas: 15
      resources:
        limits: { cpus: '0.1', memory: 64M }

  # --- CARROS (CLIENTES - 24 Instâncias) ---
  car:
    build: ./car
    depends_on: [mosquitto]
    environment:
      - BROKER_ADDRESS=mosquitto
    deploy:
      replicas: 24
      resources:
        limits: { cpus: '0.1', memory: 64M }

  # --- DASHBOARD (1 Instância) ---
  ssvcp:
    build: ./ssvcp
    ports: ["5000:5000"]
    depends_on: [mongo-init]
    environment:
      - MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/?replicaSet=rs0