# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Ambientes Virtuais e IDEs ---
.idea/
.vscode/
*.swp
*.swo

# --- Variáveis de Ambiente e Segredos ---
.env
.env.local

# --- Docker ---
# Ignorar dados persistentes locais se houver mapeamento
mongo_data/
mosquitto_data/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log